body {
  margin: 0;
  padding: 0;
}

.img-container {
  width: 500px;
  height: 500px;
  resize: horizontal;
  overflow: hidden;
}

/* This style should be exported to the user */
.img-container {
  container-type: size;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Initial object position */
    object-position: 35% 40%;
  }

  @container (aspect-ratio > 0.8) {
    img {
      object-position: 100% 40%;
    }
  }
}
