@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Sono:wght,MONO@200..800,1&display=swap");

:root {
  --color-loud: #eb8552;
  --color-neutral: #827377;
  --color-body: #2a2828;
  --color-glow: rgb(from var(--color-loud) r g b / 40%);

  --base-line: calc(22 / 16 * 1rem);
  --base-line-025x: calc(var(--base-line) * 0.25);
  --base-line-05x: calc(var(--base-line) * 0.5);
  --base-line-1x: calc(var(--base-line) * 1);
  --base-line-2x: calc(var(--base-line) * 2);
  --base-line-4x: calc(var(--base-line) * 4);
}

html {
  font-family: "Red Hat Text", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-body);
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}
