@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Sono:wght,MONO@200..800,1&display=swap");

:root {
  --color-loud: #eb8552;
  --color-neutral: #827377;
  --color-body: #2a2828;
  --color-glow: rgb(from var(--color-loud) r g b / 40%);
  --color-background: color-mix(in srgb, var(--color-body) 4%, white);
  --color-dialog-backdrop: rgb(from white r g b / 75%);
  --color-neutral-tint-10: color-mix(in srgb, var(--color-neutral) 10%, white);
  --color-neutral-tint-30: color-mix(in srgb, var(--color-neutral) 30%, white);
  --color-zero: #fff;

  --base-line: calc(22 / 16 * 1rem);
  --base-line-025x: calc(var(--base-line) * 0.25);
  --base-line-05x: calc(var(--base-line) * 0.5);
  --base-line-1x: calc(var(--base-line) * 1);
  --base-line-15x: calc(var(--base-line) * 1.5);
  --base-line-2x: calc(var(--base-line) * 2);
  --base-line-3x: calc(var(--base-line) * 3);
  --base-line-4x: calc(var(--base-line) * 4);

  --thumb-radius: max(11px, var(--base-line-05x));
  --thumb-diameter: calc(2 * var(--thumb-radius));
  --runner-thickness: 4px;
}

html {
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-body);
  font-size: 16px;

  @media screen and (max-width: 950px) {
    font-size: 14px;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
}
