html {
  font-family: system-ui, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  overflow: hidden;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 90px;
  gap: 1rem;
  margin: 1rem;
  width: calc(100vw - 2rem);
  height: calc(100vh - 2rem);
}
