html {
  font-family: system-ui, sans-serif;
  font-size: 16px;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100dvh;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  overflow: hidden;
}
