name: Auto-merge Release PR

on:
  pull_request:
    types:
      - labeled
      - opened
      - synchronize
      - ready_for_review
    branches:
      - main

jobs:
  debug:
    runs-on: ubuntu-latest
    steps:
      - name: Debug
        run: |
          echo "github.event.pull_request.labels: ${{ toJson(github.event.pull_request.labels) }}"
          echo "github.event.pull_request.title: ${{ github.event.pull_request.title }}"
  automerge:
    if: false
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Enable PR auto-merge
        run: gh pr merge --auto --squash "${{ github.event.pull_request.number }}"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
