name: Auto-merge Release PR

on:
  pull_request:
    types:
      - ready_for_review
    branches:
      - main

jobs:
  automerge:
    if: |
      github.event.pull_request.merged == true &&
      startsWith(github.event.pull_request.title, 'chore(main): release') == true
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Enable PR auto-merge
        run: gh pr merge --auto --squash "${{ github.event.pull_request.number }}"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}