name: Auto-merge Release PR

on:
  pull_request:
    types:
      - opened
      - labeled
      - ready_for_review
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  automerge:
    if: |
      startsWith(github.event.pull_request.title, 'chore(main): release') == true
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Auto-merge release PR
        run: gh pr merge --auto --squash "${{ github.event.pull_request.number }}"
        env:
          GH_TOKEN: ${{ secrets.AUTO_RELEASE_TOKEN }}
